@media all and (max-width:400px) {
    .banner #bannerText {
        font-size: 1.25em !important;
    }

}





@media all and (min-width:360px) and (max-width:600px) {

    #navText,
    #avatar {
        display: none !important;
    }

    .banner #bannerText {
        top: 40%;
        font-size: 1.5em;

        h4 {
            white-space: pre;
        }
    }




}